@media only screen and (max-width:767px) {
	.navbar-toggle{height: 35px;}
	.navbar-toggle span:first-child, .navbar-toggle span:last-child{
		-webkit-transition: all .2s linear;
	    -moz-transition: all .2s linear;
	    -o-transition: all .2s linear;
	    transition: all .2s linear;
	}
	.menu-open .navbar-toggle span.icon-bar:nth-child(2){
		visibility: hidden;
	}

	.menu-open .navbar-toggle span.icon-bar:first-child{
		transform: rotate(45deg);
	    position: absolute;
	    top: 15px;
	}
	.menu-open .navbar-toggle span.icon-bar:last-child{
	    transform: rotate(-45deg);
	    position: absolute;
	    top: 11px;
	}
	.container-wrapper{
		-webkit-transition: all .2s linear;
	    -moz-transition: all .2s linear;
	    -o-transition: all .2s linear;
	    transition: all .2s linear;
	    left:0px;
	    position: relative;
	}
	.menu-open .container-wrapper{
		position: relative;;
		left: -150px; 
	}
	.navbar-collapse.collapse{
		display: block;
	}
	.navbar-collapse{
		text-align: left;
		background: #f8f8f8;
		position: fixed;
		top: 0;
		width: 150px;
		height: 100%;
		right: -150px;
		z-index: 9;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
	.menu-open .navbar-collapse{right:0px;}
	.menu-open .navbar-nav.pull-right{
	  	float: none !important;	  
	}

	.carousel{height: 250px;}
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
	.carousel-caption {top: 50px;}
	.multi-carousel .carousel-inner{padding: 0 20px;}
	.toggleHeading{font-size: 25px;}

}
