@media only screen and (max-width:999px) {
	.m-header-wrapper{padding: 0px;}
	.carousel{height:300px;}
	.m-content-intro .module{padding:0 0 35px; border-bottom: 1px solid #f1f2f3;}
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
	.carousel-caption {top: 75px;}
	.multi-carousel .carousel-inner{padding: 0px 35px;}

	.m-footer .container > div{}

}

@media only screen and (max-width:999px) and (min-width:768px) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
	.active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

