.card-faq {
	& .card {
		border-radius: 0px;
		& .card-header {
			padding: 7px;
		}
		& .faq_link:hover {
			text-decoration: none;
		}
		& .card-faq__title {
			margin: 0;
			padding: 0 0 0 10px;
			font-size: 14px;
			border-radius: 0;
			position: relative;
			cursor: pointer;
			&:before {
				content: "\f0fe";
				font-family: FontAwesome;
				color: $faColor;
				margin-right: 7px;
			}
		}
		& [aria-expanded=true] {
			&:before {
				content: "\f146";
				font-family: FontAwesome;
				color: $faColor;
				margin-right: 7px;
			}
		}
		& .card-body {
			padding-left: 45px;
		}
	}
	& .card+.card {
		margin-top: -2px;
	}
}

.faq-container {
	& .faq-container__questions {
		padding: 0 0 30px;
		border-bottom: 1px solid #ccc;
		& .question {
			font-size: 15px;
			line-height: 30px;
		}
	}
	& .faq-container__answers {
		padding: 0;
	}
	& .faq-container__answer {
		padding: 25px 0;
		border-bottom: 1px solid #ccc;
		margin: 5px 0 0 0;
	}
	& h3.question {
		font-size: 20px;
	}
}