.sec-404 {
    & h3.not-found__404 {
        font-size: 175px;
        color: #CCC;
    }

    .input-group {
        & .form-control {
            //height: calc(35px);
            padding: 5px 15px;

            &:focus {
                outline: none;
            }
        }

        & .btn {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}