@include keyframes(typewritter) {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}

@include keyframes(typewritter2) {
	0% {
		width: 0;
	}
	50% {
		width: 0px;
	}
	100% {
		width: 100%;
	}
}

$num: 10;
@while $num>0 {
	.start-am-af-#{$num}s {
		-webkit-animation-delay: #{$num}s;
		animation-delay: #{$num}s;
	}
	$num: $num - 1;
}