.post-entry {
	margin: 0 0 30px;
	& .post-entry__pic {
		height: 250px;
		overflow: hidden;
		margin: 0 0 20px;
		@media only screen and (max-width: 999px) {
			height: 150px;
		}
		& img {
			width: 100%;
		}
	}
	& .post-entry-content {
		padding: 10px;
	}
	& .post-entry__title {
		margin: 0px;
		@media only screen and (max-width: 450px) {
			font-size: 1.2rem;
		}
	}
	& .post-entry__meta {
		& .fa {
			margin: 0 5px 0 0;
		}
	}
}

@media only screen and (max-width:450px) {
	.sec-blog .post-entry:last-child {
		margin-bottom: 0px;
	}
}