.sec-countdown {
	background: #f2f3f4;
	padding: 40px 0 10px 0;
	font-family: Josefin Sans;

	& h3 {
		font-size: 20px;
		margin: 0px;
		padding: 0px;
	}

	& .sec-countdown__item {
		margin: 0 0 30px;
	}

	& .sec-countdown__icon {
		background: #448aff;
		color: #fff;
		margin-bottom: 15px;
	}

	& .sec-countdown_count {
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 7px;
	}

	@media only screen and (max-width:450px) {
		& .sec-countdown__item {
			margin: 0 0 20px;
		}

		& .sec-countdown__icon {
			margin-bottom: 15px;
		}

		& .sec-countdown_count {
			font-size: 15px;
			margin: 0 0 0px;
		}

		& h3 {
			font-size: 15px;
		}
	}
}