.sec-ourwork {
	& .sec-ourwork-controls {
		padding: 0 0 15px;

		& button {
			margin: 10px 5px;
			text-transform: uppercase;
		}
	}

	& .mix {
		text-align: left;
		padding: 5px;
		display: none;
	}

	& .sec-ourwork-content {
		overflow: hidden;
		position: relative;

		& .grouped_elements {
			&:after {
				content: "";
				position: absolute;
				border: 10px solid;
				width: 20px;
				height: 20px;
				top: 50%;
				left: 48%;
				@include Opacity(0);
				@include transition();
			}
		}

		&:hover {
			& .grouped_elements {
				&:after {
					width: 100%;
					height: 100%;
					top: 0%;
					left: 0%;
					@include Opacity(.5);
				}
			}

			& .sec-ourwork-overlay {
				transform: scaleY(1);

				&:before {
					@include Opacity(.5);
				}
			}

			& .sec-ourwork__pic {
				transform: scale(1.1);
			}
		}
	}

	& .sec-ourwork-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		top: 0;
		bottom: 0;
		transform: scaleY(0);
		transform-origin: center;
		transition: transform 0.26s ease;

		&:before {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			content: "";
			background: #333;
			z-index: 2;
			@include Opacity(0);
			cursor: pointer;
		}
	}

	& .sec-ourwork__des {
		text-align: center;
		color: #FFF;
		font-size: 20px;
		margin: 45% 0 0 0;
		z-index: 9;
		position: relative;

		& h4 {
			font-size: 14px;
			padding: 20px 10px;
			margin: 0px;
		}
	}

	& .sec-ourwork__pic {
		width: 100%;
		@include transition();
	}
}

@media only screen and (max-width:767px) {
	.sec-ourwork-overlay {
		transform: scaleY(1);
	}

	.sec-ourwork__des h4 {
		padding: 10px;
		font-size: 13px;
		font-weight: normal;
	}
}