$primary-1: #3078BF;
$primary-2: #00B1FF;


$backgroundColor: #FFF;
$backgroundColorLight: #f1f2f3;
$bodyfontColor: #333;

//FONT FAMILY
$fontFamily: Open Sans,
sans-serif;
$fontFamilyHeading: 'Open Sans',
sans-serif;

/*Header Menu*/
$navBrandColor: #000;
$navBrandHoverColor: #448aff;

$navBrandFixedColor: #FFF;
$navBrandFixedHoverColor: #333;

$navBarColor: #333;
$navBarHoverColor: #333;

$navBarBgColor: #F1F2F3;
$navBarBgHoverColor: #E9E9E9;

$navBarBgWrapperMobileColor: #F1F2F3;
$navBarMobileColor: #333;
$navBarBgMobileHighlightColor: #E9E9E9;

$navBarBorderColor: #E5E5E5;

$hamburgerColor: #fff;
$hamburgerColorDark: #333;


/* BORDER COLORS */
$borderColorLight: #f1f2f3;
$borderColorDark: #CCC;

/* ANCHOR COLORS */
$anchorColor:#3078BF;
$anchorColorHover:#448aff;

$faColor:#448aff;
$faBorderColor: #333;
$faBackgroundrColor: $faColor;



/*BreadCrum Color*/
$breadcrumbColor: #333;
$breadcrumbAnchorColor: #FFF;

/* FOOTER COLORS */
$footerBgColor: #f1f2f3;
$footerBdrColor: #ccc;
$copyRightBgColor: #434241;
$copyRightColor: #f1f2f3;