$backgroundColor: #FFF;
$backgroundColorLight: #f1f2f3;
//FONT FAMILY
$fontFamily: Open Sans,
sans-serif;
/*Header Menu*/

$navItemBgHoverColor:#F1f2f3;
$dropdownMenuBgColor: $navItemBgHoverColor;
$dropdownBorderColor: #E5E5E5;
$dropdownItemHoverColor:#E9E9E9;
$dropdownItemMobileActiveColor:#E9E9E9;
/* FONT COLORS*/

$fontWhite: #FFF;
$fontColor: #333;
/* FONT SIZE*/

$fontSizeXxl: 50px;
$fontSizeLg: 40px;
$fontSizeMd: 25px;
$fontSizeSm: 17px;
$fontSizeXs: 13px;
$fonSizeXxs: 10px;
/* BORDER COLORS */

$borderColorLight: #f1f2f3;
$borderColorDark: #CCC;
/* ANCHOR COLORS */

$anchorColor:#3078BF;
$anchorColorHover:#448aff;
$faColor:#448aff;
$faBorderColor: $faColor;
$faBackgroundrColor: $faColor;
/* BUTTON COLORS */

$buttonColorLight: #83b9ff;
$buttonColorDark: #3078BF;
$buttonHoverColor: #448aff;
$buttonColor: #FFF;
/*CAROUSEL FONT SIZE*/

/* FOOTER COLORS */

$footerBgColor: #f1f2f3;
$footerBdrColor: #ccc;
$copyRightBgColor: #434241;
$copyRightColor: #f1f2f3;