.sec-our-pricing {
    & .sec-our-pricing_title {
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-transform: uppercase;

        @media only screen and (max-width: 814px) {
            font-size: 18px;
        }
    }

    & .pricing-card-title {
        font-size: 35px;

        @media only screen and (max-width: 814px) {
            font-size: 25px;
        }
    }

    & .box-shadow {

        &.highlight {
            background: #0062cc;
            box-shadow: 1px, 7px, 30px, #888888;
            transform: scale(1.02);
            color: #FFF;

            & .card-body {
                color: #FFF;

                & .text-muted {
                    color: #000 !important;
                }
            }

        }
    }
}