.parallax {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 50px 0;

	@media only screen and (max-width: 999px) {
		padding: 45px 0;
	}
}