h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 40px 0;
    font-weight: 600;
}


.navbar-brand {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #333;
    letter-spacing: 0px;
}

.navbar-brand:hover {
    color: #919191;
    text-decoration: none;
}

.banner {
    padding: 75px 0;
    background: #343434;
    margin: 0 0 50px;
    color: #FFF;
}

.banner-title {
    padding-bottom: 20px;
}

.banner-sub-title {
    padding: 0 0 40px;
}

.home-page-display img {
    width: 100%;
    margin: 0 0 50px;
}

.home-page-display a:hover img,
.home-page-display img:hover {
    transform: scale(1.02);
    transition: all .3s;
}

.home-page-display a .home-page-display__title {
    font-size: 20px;
    text-align: center;
    color: #454545;
    margin: 0;
    padding: 0 0 15px;
}

.home-page-display a:hover {
    text-decoration: none;
}

.sec-layout-display {
    padding-bottom: 40px;
}

.sec-layout-display .sec-layout-display__title {
    font-size: 22px;
    text-align: center;
}

.footer {
    padding: 25px 0;
    background: #343434;
    font-size: 14px;
    color: #fff;
}